body {
  font-family: sans-serif;
  padding: 1rem;
}

#input {
  border: 1px solid #ccc;
  padding: 1rem;
  min-height: 200px;
  margin-bottom: 1rem;
}

#output {
  width: 100%;
  min-height: 300px;
}
